.detail {
  @apply flex space-x-6 items-center justify-between pb-10 max-[768px]:flex-col;

  > div:first-child {
    @apply basis-2/3 max-[768px]:mb-10;
  }

  > div:last-child {
    @apply basis-1/3 max-[768px]:items-start;
  }

  h1 {
    @apply font-medium text-lg my-5 text-white;
  }

  .article {
    @apply text-xs text-gray-500;
  }

  .wrapper_button {
    @apply flex items-start mb-9 flex-wrap;

    > button:first-child {
      @apply mr-4 mb-4;
      width: 190px;
      white-space: nowrap;
    }

    > button:last-child {
      width: 140px;
    }

    > button {
      @apply flex items-center justify-center rounded-lg p-2.5 text-white transition-colors duration-300;

      &:hover {
        @apply bg-opacity-100;
      }

      > svg {
        @apply mr-2 text-base;
      }

      &.likeButton {
        background-color: #353340;

        &:hover {
          @apply bg-gray-800;
        }
      }
    }
  }

  .number_info {
    > div {
      @apply text-gray-500 flex items-center mb-4;

      > svg {
        @apply mr-2 text-base;
      }
    }
  }
}